{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="container container-bg">
                <div class="row">
                    <h3 class="article-title mt-2">{% trans "Sign Out" %}</h3>
                    <p class="mt-2">{% trans 'Are you sure you want to sign out?' %}</p>
                </div>
                <div class="row">
                    <div class="mt-2 mb-2">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %} &raquo;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}