{% extends "base.html" %}{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="container container-bg p-4">
                <form method="POST">
                    <legend class="border-bottom mb-4 article-title">Contact Us</legend>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock content %}