@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

html {
    height: 100%;
    margin: 0;
}

body {
    color: #000;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.fa {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    background-color: #FFCDD9;
    color: #1300C1;
    padding: 10px;
    border-radius: 5px;
}

#subscribe-box .emailfield {
    margin: auto;
}

input.emailbutton[type="text"] {
    background: #fff;
    padding: 10px 15px;
    color: #000;
    border: 3px solid #FFCDD9;
    margin-bottom: 16px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

input.submitbutton.ripplelink {
    background: #1300C1;
    color: #fff;
    width: 100%;
    border: 0px solid #1300C1;
    padding: 10px 15px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.hero-image {
    position: relative;
  }
  
  .cover-text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text-overlay{
    top: 0;
	left: 0;
    border-radius: 5px;
    padding: 10px 15px;
	background-color: #FFCDD9;
    color: #1300C1;
	z-index: -1;
  }

  .see-more-button {
    background: #1300C1;
    color: white;
    min-width: 200px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 4s;
  }
