{% extends "base.html" %}{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="container container-bg">
                <form enctype="multipart/form-data" method="POST" class="form-bg">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 article-title">New Post</legend>
                        {{ form | crispy | safe }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock content %}