{% extends "base.html" %}{% block content %}
{% load static %}
{% load cloudinary %}

{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <article class="media content-section container-bg">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dq0myfpd3/image/upload/v1678820806/static/media/blog_image_two.52b88ed49b8a.jpg">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    {% endif %}
                </div>
                <div class="media-body mt-4">
                    <div class="content-section">
                        <div>
                            <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.created_on|date:"F d, Y" }}</small>
                            {% if post.author == user %}
                            <div>
                                <a class="btn btn-primary btn-sm mt-3 mb-3"
                                    href="{% url 'post_update' post.slug %}">Update</a>
                                <a class="btn btn-danger btn-sm mt-3 mb-3" href="{% url 'post_delete' post.slug %}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                        <h3 class="article-title">{{ post.title }}</h3>
                        <p class="article-content">{{ post.content|safe }}</p>
        
                        <!-- Like/Unlike Post  -->
                        <div class="row">
                            <div>
                                <strong>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn-like btn btn-primary btn-sm mt-1 mb-1">Unlike</button>
                                        {% else %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn btn-primary btn-sm mt-1 mb-1">Like</button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                        class="btn btn-primary btn-sm mt-1 mb-1">Like</button>
                                    {% endif %}
                                </strong>
                                 <!-- The number of likes goes before the closing strong tag -->
                                 <span class="text-secondary mb-1"><i class="far fa-thumbs-up"></i></i> Total likes - {{ post.number_of_likes }} </span>
                            </div>
                        </div>
                    </div>
        
                    <div class="content-section">
                        <!-- Comments  -->
                        <h3 class="article-title">Comments</h3>
                        <div>
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i> Total comments -
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                        <div>
                            {% for comment in comments %}
                            <div class="comments">
                                <p class="font-weight-bold mt-3">
                                    {{ comment.name }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                    </span> wrote:
                                </p>
                                {{ comment.body | safe | linebreaks  }}
                            </div>
                            {% endfor %}
                        </div>  
                        <!-- {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting approval
                        </div>
                        {% else %}                      -->
                            {% if user.is_authenticated %}      
                            <h3 class="article-title">Leave a comment</h3>
                            <p>Posting as: {{ user.username }}</p>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy | safe }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>                    
                            {% endif %}  
                            <!-- {% endif %}                           -->
                    </div>
                </div>
            </article>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock content %}

