{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/dq0myfpd3/image/upload/v1677016174/static/media/blog_image.c6d0c57b0346.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>
                    <div class="article-metadata">
                        <a class="mr-2">{{ post.author }}</a>
                        <small class="text-muted">{{ post.created_on|date:"F d, Y" }}</small>
                    </div>
                    <h2><a href="{% url 'post_detail' post.slug %}" class="article-title">{{ post.title }}</a></h2>
                </div>
            </article>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>

<!--Page Navigation -->
{% if is_paginated %}
  <nav aria-label="Page navigation container"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary"> NEXT &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
</div>
{% endblock %}


