{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 left">
      <h1 class="mb-3 article-title">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
      {% for post in posts %}
      <article class="media content-section">
        <div class="image-container">
          {% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top"
            src="https://res.cloudinary.com/dq0myfpd3/image/upload/v1678820805/static/media/blog_image_one.87e70cb6f22f.jpg">
          {% else %}
          <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image">
          {% endif %}
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
          </div>
      </article>
      {% endfor %}
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  <!--Page Navigation -->
  {% if is_paginated %}
  <nav aria-label="Page navigation container"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary m-3">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary m-3"> NEXT &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
</div>
{% endblock %}