{% extends "base.html" %}{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<div class="overlay"></div>

<div class="container">
  <div class="row">
      <div class="col-md-8 mt-3 left">
          <div class="container container-bg">
            <div class="media content-section container-bg">
              <div class="image-container">
                {% if  user.profile.featured_image %}
                <img class="rounded-circle account-img" src="{{ user.profile.featured_image.url }}">
                {% else %}
                <img class="rounded-circle account-img" src="https://res.cloudinary.com/dq0myfpd3/image/upload/v1678653410/static/media/profile_picture.d1ea125ff9ae.jpg">
                {% endif %}
                <div class="media-body">
                  <h2 class="account-heading article-title">{{ user.username }}</h2>
                  <p class="text-secondary">{{ user.email }}</p>
                </div>
              </div>
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4 article-title">Profile Info</legend>
                      {{ u_form|crispy }}
                      {{ p_form|crispy }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-primary" type="submit">Update</button>
                  </div>
              </form>
            </div>
          </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% endblock content %}
