{% block sidebar %}

<div class="col-md-4 float-right">
    <div class="content-section help-background my-3">
        <!-- <div class="">
            <div>
                <h5 class="article-title text-uppercase">TranquilBlog<span></span></h5>
                <p>About the company, little description will goes here.. </p>
            </div>
        </div> -->
        <div class="mt-3 mb-3">
            <h5 class="article-title">Quick Links<span></span></h5>
            <ul>
                <li>
                    <div>
                        <a href="https://www.nhs.uk/mental-health/" target="_blank">Mental health - NHS</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="https://www.healthline.com/health/mental-health/mental-health-books" target="_blank">Books on Mental
                            Health</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-3 mb-3">
            <h5 class="article-title">Follow up<span></span></h5>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Go to TranquilBlog facebook page"> <i class="fa fa-facebook"> </i> </a>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                aria-label="Go to TranquilBlog twitter page"> <i class="fa fa-twitter"> </i> </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Go to TranquilBlog instagram page"> <i class="fa fa-instagram"> </i> </a>
        </div>
    </div>
    <div class="content-section help-background my-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">"There is a crack in everything, that’s how the light gets
                in." ― Leonard Cohen</li>
            <li class="list-group-item list-group-item-light">"You are not your illness. You have an individual story to
                tell. You have a name, a history, a personality. Staying yourself is part of the battle." — Julian
                Seifter
            </li>
            <li class="list-group-item list-group-item-light">"There is no normal life that is free of pain. It's the
                very wrestling with our problems that can be the impetus for our growth." — Fred Rogers</li>
            <li class="list-group-item list-group-item-light">"Mental health problems don’t define who you are. They are
                something you experience. You walk in the rain and you feel the rain, but you are not the rain." — Matt
                Haig</li>
            <li class="list-group-item list-group-item-light">"You don’t have to be positive all the time. It’s
                perfectly okay to feel sad, angry, annoyed, frustrated, scared and anxious. Having feelings doesn’t make
                you a negative person. It makes you human." — Lori Deschene</li>
        </ul>
    </div>
</div>

{% endblock sidebar %}